@model IndexViewModel
@using tomgang.Models
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Manage your account";
}

<h4>@ViewData["Title"].</h4>
<p class="text-success">@ViewData["StatusMessage"]</p>
    <hr />
    <dd>
        Username: @UserManager.GetUserName(User)
        <hr/>
        ID: @UserManager.GetUserId(User)
        <hr/>
        Email: Kyshehe
    </dd>
