@{
    ViewData["Title"] = "Home Page";
}
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.0.min.js"></script>
<script src="/signalr/hubs"></script>

<div class="container">
    <div class="row">
        <!-- UPGRADES -->
        <div class="col-xs-6 col-sm-4">
            <!-- GAIN COUNT -->
                <div class="panel panel-info">
            
                <div class="panel-body text-center" >
                    <div id="gainNumber" style="font-size: 34px;">0</div>
                    <h5>gains</h5>
                </div>
            </div>
            
            <!-- Upgrade panels wrapper-->

            <div class="panel panel-danger">
                <div class="panel-heading">UPGRADES</div>
                
                <div class="panel-body">

                    <!-- Upgrade 1 -->
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                                Carb snack
                                <button  style="float: right;" onclick="buyCarb()">Buy</button>
                        </div>
                        <div class="panel-body">
                            0.2 Gains/s
                            <p  style="float: right;" id="costCarb">Cost: 12</p>
                        </div>
                    </div>
                    <!-- Upgrade 2 -->
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                                Protein shake 
                                <button  style="float: right;" onclick="buyProtein()">Buy</button>
                        </div>
                        <div class="panel-body">
                            0.5 Gains/s
                            <p  style="float: right;" id="costProtein">Cost: 30</p>
                        </div>
                    </div>
                    <!-- Upgrade 3 -->
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                                Stringlet
                                <button  style="float: right;" onclick="buyStringlet()">Buy</button>
                        </div>
                        <div class="panel-body">
                            1 Gains/s
                            <p  style="float: right;" id="costStringlet">Cost: 60</p>
                        </div>
                    </div>                   
                    <!-- Upgrade 4 -->
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                                Learn to grunt
                                <button  style="float: right;" onclick="buyGrunt()">Buy</button>
                        </div>
                        <div class="panel-body">
                            2 Gains/s
                            <p  style="float: right;" id="costGrunt">Cost: 120</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- CLICK AREA -->
        <div class="col-xs-6 col-sm-4">
            <img id="benkmann" class="img-responsive" src="images/benk.png" onclick="add()">
        </div>

        <!-- INFORMATION AREA -->
        <div class="col-xs-6 col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="noselect">Information</h4>
                </div>
                <div class="panel-body">
                    <p id="gainspersecond">0 Gains/s</p>
                    <p id="amountCarb"> You Own 0 Carb snack(s)</p>
                    <p id="amountProtein"> You Own 0 Protein shakes(s)</p>
                    <p id="amountStringlet"> You Own 0 Stringlet(s)</p>
                    <p id="amountGrunt"> You Own 0 Grunt(s)</p>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="noselect">Save/Load progress</h4>
                </div>
                <div class="panel-body">
                    <button onclick="save()">Save</button>
                    <button onclick="load()">Load</button>
                </div>
            </div>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading" id="accordion" data-toggle="collapse" href="#collapseOne" data-parent="#accordion">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                </div>
            <div class="panel-collapse collapse" id="collapseOne">
                <div class="panel-body">
                    <ul class="chat" id="postsList" style="overflow-y: auto; height:200px; overflow-x:hidden;">
                        @if (User.Identity.IsAuthenticated)
            {
                <p>Welcome to the chatroom @Html.Raw(User.Identity.Name)</p>
            }
            else
            {
                <p>Please log in to chat. </p>
            }
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="textInput" type="text" class="form-control input-sm" placeholder="Kris Vector..." maxlength="150" />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="publishPostButton">Send</button>
                        </span>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $.ajax({
        url: '/chatroom/',
        method: 'GET',
        dataType: 'JSON',
        success: addPostsList
    });
    function addPostsList(posts) {
        $.each(posts, function (index) {
            var post2 = posts[index]
            var post = posts;
            addPost(post);
        });
    }

    function addPost(post) {
        console.log('New post from server: ', post);
        $("#postsList").append('<li>' + '(' + post.timestamp.substring(11,16) + ') ' + post.author + ': ' + post.content + '</li>');
        var posteliste = $("#postsList").get(0);
        posteliste.scrollTop = posteliste.scrollHeight;
    }

    // Connect to the broadcaster on the server
    var hub = $.connection.broadcaster;

    // A function we will call from the server
    $.connection.broadcaster.client.addChatMessage = addPost;

// If the User wants to send the message with the "Return" button
    $("#textInput").keypress(function (e){
        if(e.keyCode==13){
        $("#publishPostButton").click();
        var post = {
            content: $("#textInput").val()
        };
        $.ajax({
            headers: {
                'Content-Type': 'application/json'
            },
            type: 'POST',
            url: '/chatroom/',
            data: JSON.stringify(post),
            dataType: 'json'
        }).fail(function(e) {
            console.log(e);
        });
        $("#textInput").val("");
        }
    });

// If the User wants to send the message with the button
    $("#publishPostButton").click(function (){
        var post = {
            content: $("#textInput").val()
        };
        $.ajax({
            headers: {
                'Content-Type': 'application/json'
            },
            type: 'POST',
            url: '/chatroom/',
            data: JSON.stringify(post),
            dataType: 'json'
        }).fail(function(e) {
            console.log(e);
        });
        $("#textInput").val("");
    });


    // log for debug
    $.connection.hub.logging = true;

    // Connecting to SignalR Hub
    $.connection.hub.start().done(function(signalr) {
        console.log('Connected!');
        console.log('SignalR object: ', signalr);

        // The subscribe method lets you subscribe to a specific method on the server
        // You could use this method to subscribe to a specific chatroom,
        // listen for updates to a specific resource, or whatever you would want to "subscribe" to.
        
        hub.server.subscribe("MainChatroom");
    }).fail(function(error) {
        // Just in case we fail to connect
        console.log('Failed to start connection! Error: ', error);
    });
</script>
        </div>
    </div>
</div>