@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <h3 class="noselect" >GAINS</h3>
            <input type="text" id="gainCount">
        </div>
        <div class="col-xs-6 col-sm-4">
            <canvas class="noselect" id="myCanvas" width="600" height="600" style="border:1px solid #000000;"></canvas>
        </div>
        <div class="col-xs-6 col-sm-4">
            <h1 class="noselect" >lorem ipsum </h1>
        </div>
    </div>
</div>