@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <!-- UPGRADES -->
        <div class="col-xs-6 col-sm-4">
            <!-- GAIN COUNT -->
                <div class="panel panel-info">
            
                <div class="panel-body text-center" >
                    <div id="gainNumber" style="font-size: 34px;">0</div>
                    <h5>gains</h5>
                </div>
            </div>
            
            <!-- Upgrade panels wrapper-->

            <div class="panel panel-danger">
                <div class="panel-heading">UPGRADES</div>
                
                <div class="panel-body">

                    <!-- Upgrade 1 -->
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                                Carb snack
                                <button  style="float: right;" onclick="buyCarb()">Buy</button>
                        </div>
                        <div class="panel-body">
                            0.2 Gains/s
                            <p  style="float: right;" id="costCarb">Cost: 12</p>
                        </div>
                    </div>

                    <!-- Upgrade 2 -->
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                                Protein shake 
                                <button  style="float: right;" onclick="buyProtein()">Buy</button>
                        </div>
                        <div class="panel-body">
                            0.5 Gains/s
                            <p  style="float: right;" id="costProtein">Cost: 30</p>
                        </div>
                    </div>

                    <!-- Upgrade 3 -->
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                                Stringlet
                                <button  style="float: right;" onclick="buyStringlet()">Buy</button>
                        </div>
                        <div class="panel-body">
                            1 Gains/s
                            <p  style="float: right;" id="costStringlet">Cost: 60</p>
                        </div>
                    </div>
                    
                    <!-- Upgrade 4 -->
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                                Learn to grunt
                                <button  style="float: right;" onclick="buyGrunt()">Buy</button>
                        </div>
                        <div class="panel-body">
                            2 Gains/s
                            <p  style="float: right;" id="costGrunt">Cost: 120</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <!-- CLICK AREA -->
        <div class="col-xs-6 col-sm-4">
            <img id="benkmann" class="img-responsive" src="images/benk.png" onclick="add()">
        </div>

        <!-- INFORMATION AREA -->
        <div class="col-xs-6 col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="noselect">Information</h4>
                </div>
                <div class="panel-body">
                    <p id="gainspersecond">0 Gains/s</p>
                    <p id="amountCarb"> You Own 0 Carb snack(s)</p>
                    <p id="amountProtein"> You Own 0 Protein shakes(s)</p>
                    <p id="amountStringlet"> You Own 0 Stringlet(s)</p>
                    <p id="amountGrunt"> You Own 0 Grunt(s)</p>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="noselect">Save/Load progress</h4>
                </div>
                <div class="panel-body">
                    <button onclick="save()">Save</button>
                    <button onclick="load()">Load</button>
                </div>
            </div>

        </div>
    </div>
</div>