@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}
@if (SignInManager.IsSignedIn(User))
{
<div class="container">
    <div class="row">
        <!-- GAIN COUNT -->
        <div class="col-xs-6 col-sm-4">
            <div class="panel panel-info">

                <div class="panel-body text-center">
                    <div id="gainNumber" style="font-size: 34px;">0</div>
                    <h5>gains</h5>
                </div>
            </div>
        </div>
        <!-- CLICK AREA -->
        <div class="col-xs-6 col-sm-4">
            <img id="benkmann" class="img-responsive" draggable="false" src="images/benk.png">
        </div>

        <!-- INFORMATION AREA -->
        <div class="col-xs-6 col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="noselect">Information</h4>
                </div>
                <div class="panel-body">
                    <p id="gainspersecond">0 Gains/s</p>
                    <p id="amountCarb"> You Own 0 Carb snack(s)</p>
                    <p id="amountProtein"> You Own 0 Protein shakes(s)</p>
                    <p id="amountStringlet"> You Own 0 Stringlet(s)</p>
                    <p id="amountGrunt"> You Own 0 Grunt(s)</p>
                </div>
            </div>
        </div>
    </div>
    <!-- TAB SELECTION -->
    <div class="row">
        <div class="tabselect">
            <div class="col-md-6">
                <div class="tab" role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-tags"></i><span>Upgrades</span></a></li>
                        <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab"><i class="	glyphicon glyphicon-education"></i><span>Achievements</span></a></li>
                        <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-list-alt"></i><span>Leaderboards</span></a></li>
                        <li role="presentation"><a href="#Section4" aria-controls="messages" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-certificate"></i><span>Ascend</span></a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content tabs">
                        <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                                <div>
                                    <h3>Upgrades</h3>
                                    @(await Component.InvokeAsync<ViewComponents.UpgradeList>())
                                </div>
                                    <h3>Items</h3>
                                    @(await Component.InvokeAsync<ViewComponents.ItemList>())


                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="Section2">
                            <h3>Section 2</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec urna aliquam, ornare eros vel,
                                malesuada lorem. Nullam faucibus lorem at eros consectetur lobortis. Maecenas nec nibh congue,
                                placerat sem id, rutrum velit. Phasellus porta enim at facilisis condimentum. Maecenas pharetra
                                dolor vel elit tempor pellentesque sed sed eros. Aenean vitae mauris tincidunt, imperdiet
                                orci semper, rhoncus ligula. Vivamus scelerisque.</p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="Section3">
                            <h3>Section 3</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec urna aliquam, ornare eros vel,
                                malesuada lorem. Nullam faucibus lorem at eros consectetur lobortis. Maecenas nec nibh congue,
                                placerat sem id, rutrum velit. Phasellus porta enim at facilisis condimentum. Maecenas pharetra
                                dolor vel elit tempor pellentesque sed sed eros. Aenean vitae mauris tincidunt, imperdiet
                                orci semper, rhoncus ligula. Vivamus scelerisque.</p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="Section4">
                            <h3>Section 4</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec urna aliquam, ornare eros vel,
                                malesuada lorem. Nullam faucibus lorem at eros consectetur lobortis. Maecenas nec nibh congue,
                                placerat sem id, rutrum velit. Phasellus porta enim at facilisis condimentum. Maecenas pharetra
                                dolor vel elit tempor pellentesque sed sed eros. Aenean vitae mauris tincidunt, imperdiet
                                orci semper, rhoncus ligula. Vivamus scelerisque.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CHAT -->
<div class="col-md-2" id="Chatholder" >
    <div class="panel panel-primary">
        <div class="panel-heading" id="accordion" data-toggle="collapse" href="#collapseOne" data-parent="#accordion">
            <span class="glyphicon glyphicon-comment"></span> Chat
        </div>
        <div class="panel-collapse collapse" id="collapseOne">
            <div class="panel-body">
                <ul class="chat" id="postsList" style="overflow-y: auto; height:200px; overflow-x:hidden;">
                    @if (User.Identity.IsAuthenticated) {
                    <p>Welcome to the chatroom @Html.Raw(User.Identity.Name)</p>
                    } else {
                    <p>Please log in to chat. </p>
                    }
                </ul>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <input id="textInput" type="text" class="form-control input-sm" placeholder="Kris Vector..." maxlength="150" />
                    <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="publishPostButton">Send</button>
                        </span>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts { 
    
    <script>
        //Scripten under blir lastet inn etter de nødvendige .js filene. Se _Layout sin rendersection "scripts" på bunnen
        $(window).load(function(){
            //Forste innlastning
            update();
            updateItemsCost();
            setInterval(update, 1000);
        });
    </script>
}

}
else
{
    <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="active" id="register-form-link">Register</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" id="login-form-link">Login</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12" id="register-form" style="display: block;">
                                @await Html.PartialAsync("Register")
                           </div> 
                          <div class="col-lg-12" id="login-form" style="display: none;">
                                @await Html.PartialAsync("Login")   
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                          
}
